
.DS_Store

.idea/misc.xml

.idea/modules.xml

.idea/TranslationSystemSimple.iml

.idea/vcs.xml

.idea/workspace.xml

bin/.DS_Store

src/.DS_Store

src/LanguageTools/.DS_Store

src/LanguageTools/uyghur/.DS_Store

src/LanguageTools/tibet/.DS_Store

src/LanguageTools/thai/.DS_Store

src/LanguageTools/korean/.DS_Store

src/LanguageTools/.DS_Store

src/CProcess/PostProcess/.DS_Store

src/PostProcessor/.DS_Store

src/CProcess/PostProcess/.DS_Store
